@function color($color-name, $weight: 500) {
  $base-color: map-get($colors, $color-name);
  $amount: nil;
  $color: nil;
  @if not map-has-key($colors, $color-name) {
    @warn "Unknown color-name `#{$color}`.";
    @return false;
  }

  @if not index($weights, $weight) {
    @warn "Unknown color-weight `#{$weight}`.";
    @return false;
  }

  @if $weight == 500 {
    @return $base-color;
  }

  @if $weight == 50 or $weight == 900 {
    $amount: 50;
  } @else if $weight < 500 {
    $amount: -($weight - 500) / 5.8;
  } @else if $weight > 500 {
    $amount: ($weight - 500) / 10;
  }

  @if $weight < 500 {
    $color: mix(white, $base-color, $amount);
  } @else if $weight > 500 {
    $color: mix(black, $base-color, $amount);
  }

  @return $color;
}
