html {
  position: relative;
  box-sizing: border-box;
  min-height: 100%;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  background: #eef1f3;
  color: #575757; }
  body:before {
    display: none; }
    @media (max-width: 768px) {
      body:before {
        content: "mobile"; } }
    @media (min-width: 768px) {
      body:before {
        content: "desktop"; } }

html,
input,
textarea,
button {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased; }

article,
aside,
footer,
header,
main,
nav,
section,
textarea {
  display: block; }

div,
main,
section,
footer,
form {
  position: relative; }

h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0;
  text-rendering: optimizeLegibility; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }
  p:last-child {
    margin-bottom: 0; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 1rem; }
  ol:last-child,
  ul:last-child,
  dl:last-child {
    margin-bottom: 0; }

a {
  background-color: transparent;
  color: #19c587;
  transition: all 0.16s; }
  a:hover {
    color: #68d9b0; }
  a:hover, a:focus, a:active {
    outline: 0; }
  a, a:active, a:visited, a:hover {
    text-decoration: none;
    cursor: pointer; }

pre,
code {
  border-radius: 3px;
  font-family: "Menlo", Monaco, Consolas, "Lucida Console", monospace;
  font-size: 13px;
  font-weight: 400;
  text-transform: none; }

pre {
  overflow: auto;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 16px;
  text-align: left;
  word-break: break-word;
  word-spacing: normal;
  white-space: pre;
  white-space: pre-wrap;
  tab-size: 4;
  hyphens: none;
  direction: ltr; }
  pre:last-child {
    margin-bottom: 0; }

img {
  box-sizing: content-box;
  border: 0; }

svg {
  width: 100%;
  height: 100%; }
  svg:not(:root) {
    overflow: hidden; }

hr {
  box-sizing: content-box;
  height: 0; }

em {
  font-weight: 600;
  font-style: normal; }

strong {
  font-weight: 700; }

button,
input,
select,
optgroup,
textarea {
  margin: 0;
  font: inherit;
  line-height: inherit;
  color: inherit; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

input, textarea {
  outline: 0; }

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  cursor: pointer;
  -webkit-appearance: button; }

[readonly],
button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0; }

input {
  line-height: normal; }
  input:invalid {
    box-shadow: none; }

input[type=text],
input[type=tel],
input[type=number],
input[type=email],
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none; }

input[type=checkbox],
input[type=radio] {
  padding: 0; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none; }

input[type=search] {
  box-sizing: content-box;
  -webkit-appearance: textfield; }

input[type=text][disabled]
input[type=email][disabled]
input[type=password][disabled] {
  -webkit-text-fill-color: #575757; }

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 100px #fff; }

textarea {
  vertical-align: top;
  overflow: auto;
  resize: vertical; }

::-webkit-input-placeholder {
  color: #919191;
  -webkit-font-smoothing: antialiased; }

:-moz-placeholder {
  color: #919191;
  opacity: 1;
  -webkit-font-smoothing: antialiased; }

::-moz-placeholder {
  color: #919191;
  opacity: 1;
  -webkit-font-smoothing: antialiased; }

:-ms-input-placeholder {
  color: #919191;
  -webkit-font-smoothing: antialiased; }

[hidden] {
  display: none; }

.button, .hero button {
  padding: 4px 24px;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  border: 0;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  outline: 0;
  user-select: none;
  transition: all 0.16s; }
  .button:active:not([disabled]), .hero button:active:not([disabled]) {
    transform: matrix(0.95, 0, 0, 0.95, 0, 0);
    transition-duration: 72ms;
    transition-timing-function: ease-out; }
  [disabled].button, .hero button[disabled] {
    cursor: default; }

.button--primary {
  background: #19c587;
  color: #fff; }
  .button--primary:hover {
    color: #fff; }

.button--secondary {
  background: #fff; }
  .button--secondary:active {
    background: #e9ecee; }

.hero {
  padding: 48px 64px;
  background: #2c3744;
  text-align: center; }
  .hero button {
    background: #19c587;
    color: #fff;
    font-size: 18px;
    border-radius: 3px;
    padding: 6px 32px; }
    .hero button:hover, .hero button:focus {
      background: #17b17a; }

h1,
h2 {
  color: #fff;
  font-weight: 300;
  line-height: 1.2; }

h1 {
  font-size: 40px;
  margin-bottom: 32px; }

h2 {
  font-size: 22px;
  margin-bottom: 32px; }

.wrapper {
  margin: 0 auto;
  max-width: 704px;
  padding: 32px; }

p {
  color: #363a3e; }

h3 {
  font-size: 22px;
  font-weight: 300;
  color: #363a3e; }

h4 {
  font-size: 20px;
  font-weight: 300;
  color: #363a3e; }
